<%- include('./components/header.ejs') %>
<%- include('components/navbar.ejs') %>

<!-- BODY -->

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-8 mt-4">
            <div class="card">
                <div class="card-body">
                    <form action="/new/question" method="post">
                        <div class="form-group">
                            <label class="fw-bolder" for="exampleInputEmail1">Titúlo:</label>
                            <input class="form-control" type="text" name="titulo">
                        </div>
                        <div class="form-group mt-3">
                            <label class="fw-bolder" for="exampleInputEmail1">Sua dúvida:</label>
                            <textarea class="textarea-question" name="descricao" id="duvida_text" rows="5"></textarea>
                        </div>
                        <div class="form-group mt-3">
                            <label for="exampleInputPassword1">Tag's</label>
                            <select class="form-select form-select-sm mb-3" aria-label=".form-select-lg example" name="tag">
                                <option selected>TAG</option>
                                <option value="python">Python</option>
                                <option value="js">JavaScript</option>
                                <option value="java">Java</option>
                              </select>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-dark">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END BODY -->

<%- include('components/footer.ejs') %>